# ==========================================
# 1. API Gateway (NestJS)
# ==========================================
PORT=3000

# PostgreSQL Database (NeonDB)
DATABASE_URL="postgresql://neondb_owner:npg_HrlzQ1bAFpZ5@ep-falling-cell-akoqkpty-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Firebase Admin SDK Payload (For extracting Auth JWTs)

# FIREBASE_PROJECT_ID="your-firebase-project-id"
# FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com"
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourKeyHere\n-----END PRIVATE KEY-----\n"

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD8QQ5fIGV9WcDxOXwdDDw2z6cT31DvtSM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nextjs-auth-project-454a5.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nextjs-auth-project-454a5
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nextjs-auth-project-454a5.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=594713242282
NEXT_PUBLIC_FIREBASE_APP_ID=1:594713242282:web:d8b3245fb7c12ad571fed3
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3NMXD04NQY

# Redis Queue (BullMQ)
REDIS_HOST="localhost"
REDIS_PORT=6379

# Backend Subscription Webhooks (Stripe / RevenueCat)
REVENUECAT_WEBHOOK_SECRET="your_revenuecat_secret"

# ==========================================
# 2. ML Service (Python FastAPI)
# ==========================================
PYTHON_ML_PORT=8000

# Vector Database (Qdrant)
VECTOR_DB_URL="http://localhost:6333"

# OpenAI / LLM Inference (To generate behavioral feedback reports)
OPENAI_API_KEY="sk-proj-your_openai_api_key_here"

# (Note: AWS S3 and Deepgram keys have been removed as the architecture 
# now utilizes On-Device Real-Time SVM inference.)

# ==========================================
# Subscription Module (Razorpay)
# ==========================================
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
RAZORPAY_KEY_SECRET=your_secret_here
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

RAZORPAY_PLAN_ID_BASIC=plan_xxxxxxxxxxxx
RAZORPAY_PLAN_ID_BASIC_LITE=plan_xxxxxxxxxxxx
RAZORPAY_PLAN_ID_PREMIUM_LITE=plan_xxxxxxxxxxxx
RAZORPAY_PLAN_ID_PREMIUM=plan_xxxxxxxxxxxx

PRICE_BASIC_LITE_PAISE=4500
PRICE_BASIC_PAISE=6900
PRICE_PREMIUM_LITE_PAISE=18000
PRICE_PREMIUM_PAISE=24900
